body{
    background-color: azure;
}

h1{
    text-align: center;
    color: black;
    font-size: 20px;    
}
/*
Nav elements
*/
.gridContainer-Nav{
    background-color: darkcyan;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
}

.nav-element-brand{
    text-align: center;
    font-size: 15px;
    color: white;
}

.nav-element{
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

/*
puntos entrega elements
*/
.gridContainer-puntosEntrega{
    column-gap: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: 230px 230px 230px 230px ;
}

.card{
    background-color: white;
    justify-content: center;
    width: 230px;
    border-radius: 1%;
    border-style: solid;
    border-color: darkslategray;
}

.card-title{
    text-align: center;
    color: black;
    font-size: 20px;
}

/*
Items elements
*/

.gridcontainer-Items {
    justify-content: center;
    display: grid;
    grid-template-columns: 210px 210px 210px 210px ;
    column-gap: 20px;

}

.card.cardItem{
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 210px;
    border-radius: 1%;
    border-style: solid;
    border-color: darkslategray;
}


/*
sub menu articulos
*/

.gridcontainer-submenu-articulos{

    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    column-gap: 60px;

}

.submenu-articulo {
text-align: center;


}